@{
    ViewData["Title"] = "Iniciar Sesi칩n";
}

<a href='@Url.Action("IrRegistrarse", "Home")'>Registrarse</a>  <!-- ver si esta bien -->

<div>
    <h1>Iniciar sesi칩n</h1>
    <form action='@Url.Action("IniciarSesion", "Home")' method="post">
        <input type="text" name="mail" placeholder="Ingresar mail"/>
        <input type="password" name="contrase침a" placeholder="Ingresar contrase침a"/>
        <input type="submit" value="Ingresar datos" />
    </form>
</div>

<a href='@Url.Action("Index", "Home")'>Inicio</a>