USE [master]
GO
/****** Object:  Database [Integrantes]    Script Date: 17/7/2025 08:04:20 ******/
CREATE DATABASE [Integrantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Integrantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Integrantes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Integrantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Integrantes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Integrantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Integrantes]
GO
/****** Object:  User [alumno]    Script Date: 17/7/2025 08:04:20 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[integrante]    Script Date: 17/7/2025 08:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[integrante](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contraseña] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[nombreEquipo] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[genero] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
	[fechaNacimiento] [datetime] NULL,
	[datoCurioso] [nvarchar](max) NULL,
	[foto] [nvarchar](50) NULL,
 CONSTRAINT [PK_integrante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
